@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Metal+Mania&display=swap');

*{
    border: 0;
    margin: 0;
}

section {
    color: white;
}

/***** SECTION *****/ 

.home {
    background-image: url(Texturelabs_Grunge_288L.jpg);
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;  
    height:65rem
}
.listen {
    background-image: url(Texturelabs_Metal_280L.jpg);
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;  
    height:65rem
}
.shop {
    background-image: url(Texturelabs_Grunge_288L.jpg);
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;  
    height:65rem
}
.follow {
    background-image: url(Texturelabs_Metal_280L.jpg);
    background-size: cover;        
    background-position: center; 
    background-repeat: no-repeat;  
    height:30rem
}

/***** HOME SECTION *****/ 

.navdiv {
    display: flex; 
    justify-content: space-between ;
}

li {
    display: inline-block;
    position: relative;
    top: 25px;
    right: 25px;
}

li i {
    font-size: 30px;
    color: rgb(180, 54, 54);
}

.navone {
    position: relative;
    left: 106.5rem;
    bottom: 14rem;
    color: rgb(180, 54, 54);
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
}

.skyxxlogo {
    size: 5;
    position: relative;
    left:10px;
    bottom: 20px;
    filter: drop-shadow(0 0 20px #ff00004f);
}

.home-content {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.skyyxbig{
    font-size: 6rem;
    position: relative;
    bottom: 370px;
    font-family: "Metal Mania", system-ui;
    font-weight: 100 ;
    filter: drop-shadow(0 0 20px #ff0000) 
}

.skyyxxp {
    font-size:25px ;
    position: relative;
    bottom: 250px;
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
    text-transform: uppercase;
}

/***** LISTEN SECTION *****/ 

.listen{
    display: flex;
    justify-content: center;
}

.listentous {
    font-size: 6rem;
    position: relative;
    top: 80px;
    font-family: "Metal Mania", system-ui;
    font-weight: 100 ;
    text-shadow: 2px 5px 5px black;
    
}

.pfp1 {
    position: relative;
    top: 160px;
    right: 320px;
    height: 38rem; 
    width: 38rem;
    filter: drop-shadow(0 0 20px #000000)
            drop-shadow(0 0 20px #000000);
    
}

.p1 {
    font-size: 30px;
    position: relative;
    left: 420px;
    bottom: 350px;
    text-align: start;
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
    text-shadow: 2px 5px 5px black;
    text-transform: uppercase;
}

.butones {
    display: flex;
    position: relative;
    left: 424px;
    bottom: 300px;
}

.butones1 {
    display: flex;
    position: relative;
    left: 700px;
    bottom: 349.52px;
}

.button {
    display: inline-flex;
    font-size: 2rem;   
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
    height: 50px;
    width: 230px;
    border: none;
    outline: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.button_icon,
.button_text {
    display: inline-flex;
    padding: 0 10px;
    text-align: start;
    color: rgb(0, 0, 0);
}

.button a{
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.button:hover a,
.button:hover i {
    color: red;
    transition: all 0.3s ease-in-out;
}
/***** SHOP SECTION *****/ 

.shoppee {
    font-size: 6rem;
    position: relative;
    top: 60px;
    font-family: "Metal Mania", system-ui;
    font-weight: 100 ;
    text-shadow: 2px 5px 5px rgb(255, 0, 0);
}

.choices-container {
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 5rem;
    flex-wrap: wrap;
    position: relative;
    top: 80px;
}

.choices {
    text-align: center;
}

.merch {
    width: 40rem;
    height: auto;
    filter: drop-shadow(0 0 20px #f50000)   
}
   
.skullshirt,
.logoshirt {
    font-size: 3rem;
    position: relative;
    left: 16px;
    bottom: 40px;
     font-family: "Metal Mania", system-ui;
    font-weight: 100 ;
}

.priceone,
.pricetwo {
    font-size: 1.5rem;
    position: relative;
    left: 8px;
    bottom: 35px;
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
}

.buynow-r {
    position: relative;
    left: 11px;
    bottom: 16px;
    height: 50px;
    width: 170px;
    border: 10px;
    border-color: white;
    outline: none;
    overflow: hidden;
    background-color: rgb(255, 255, 255);
    border: 3px solid rgb(0, 0, 0);  
    outline: 3px solid white;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgb(255, 0, 0);
}

.buynow a {
    color: inherit;
    padding: 20px 20px;
    font-size: 1.3rem;   
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
    text-decoration: none;
}

.buynow-r:hover {
    background-color: rgb(243, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.buynow:hover a {
    color: rgb(255, 255, 255);
}
/***** FOLLOW SECTION *****/

.followus {
    font-size: 6rem;
    position: relative;
    top: 60px;
    font-family: "Metal Mania", system-ui;
    font-weight: 100 ;
    text-shadow: 2px 5px 5px rgb(0, 0, 0);
}

.socials {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
    padding: 50px 0;
    size: 3rem;
    position: relative;
    top: 100px;
   
}

.socials button {
    background-color: white;
    border: none;
    padding: 15px 40px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 5px 10px rgb(0, 0, 0.2);

}

.socials button a {
    text-decoration: none;
    font-family: "Allerta", sans-serif;
    font-weight: 1000;
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgb(255, 0, 0);
    font-size: 30px;
    text-transform: uppercase;
}

.socials button:hover {
    background-color: rgb(0, 0, 0);
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,0.3);
}

.socials button:hover a {
    color: white;
}
    
